.section {
  position: relative;

  &Hero {

  }

  &Sc1 {
    background-color: #ECECEC;
    float: left;
    width: 100%;
    position: relative;

    @media (max-width: $mxtablet) {

      .container-fluid {
        padding: 0;
      }
    }	

    &-wrap {
      @include flexbox();
      gap: 63px;
      margin-right: -52px;
      margin-left: -52px;

      @media (max-width: $mxtablet) {
        margin-right: 15px;
        margin-left: 15px;
        flex-direction: column;
      }	
    }

    &-intro {
      position: relative;
      padding: 52px 0;


      // &::after {
      //   position: absolute;
      //   content: '';
      //   width: 100%;
      //   height: 100%;
      //   background: #D6DAE0;
      //   left: 0;
      //   top: 0;
      // }
  
      &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background-image: url('../images/06dd5ec864988ef38c0a0d30f7fe9b9c.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: grayscale(1);
        top: 0;
        left: 0;
        mix-blend-mode: soft-light;
        opacity: 0.1;
        pointer-events: none
      }
    }

    &-point {
      @include flexbox();
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: $mxtablet) {
        row-gap: 20px;
      }

      &-item {
        flex: 1;
        padding: 12px;

        @media (max-width: $mxtablet) {
          flex-wrap: wrap;
          width: calc(100% / 2);
          flex: unset;
        }	

        h2 {
          font-weight: $font-weight-extrabold;
          color: var(--blue);
          margin: 5px 0 10px 0;

          span {
            font-size: 12px;
          }
        }
        p {
          font-size: 12px;
          line-height: 1.3;
          color: var(--blue-soft);
        }

        &:not(:last-child) {
          border-right: 1px solid #B4BCC8;
        }

        @media (max-width: $mxtablet) {
          &:nth-child(2) {
            border-right: 0;
          }
        }
      }

      &-icon {
        width: auto;
        height: 40px;

        img {
          height: 100%;
        }
      }
    }

    &-testimonial {
      background-color: #F4F7FB;
      position: relative;
      padding: 52px;

      @media (max-width: $mxtablet) {
        padding: 52px 15px;

        .swiper-acc {
          margin-top: 60px;
        }

        .swiper-pagination {
          margin: unset !important;
        }
      }

      &::before {
        width: 110px;
        height: 120px;
        position: absolute;
        content: '“';
        font-size: 120px;
        font-weight: $font-weight-extrabold;
        text-align: center;
        color: var(--white);
        left: 0;
        top: 0;
        background-color: var(--blue);
      }

      &-head {
        margin-bottom: 43px;
        @include flexbox();
        justify-content: flex-end;
        align-items: center;

        @media (max-width: $mstablet) {
          flex-direction: column;
          align-items: end;
        }

        a {
          float: right;
          padding-right: 30px;
          position: relative;

          &::after {
            position: absolute;
            content: '';
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 17L11.1094 16.125L14.6094 12.625H7V11.375H14.6094L11.1094 7.875L12 7L17 12L12 17Z' fill='%230D54B5'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='%230D54B5'/%3E%3C/svg%3E%0A");
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 24px;
          }
        }
      }

      &-content {
        margin-top: 40px;
        width: 100%;
        float: left;
      }
    }
  }

  &Sc2 {
    background-color: #ECECEC;
    padding: 30px 0;
    display: inline-table;
    width: 100%;

    &-list {
      position: relative;
      padding: 10px 0;
      ul {
        @include flexbox();
        gap: 24px;
        flex-wrap: wrap;

        li {
          height: 45px;

          img {
            height: 100%;
            width: auto;
            max-width: inherit;
          }
        }
      }
    }
  }


  &Newroom {
    background-color: var(--grey-1);
    padding: 42px 0;
    width: 100%;

    &-head {
      h5 {
        color: var(--blue-soft );
      }
      
      h2 {
        color: var(--primary);
      }
    }
  }

  &Professionals {
    background-color: #ECECEC;
    padding: 42px 0;
    display: inline-table;
    width: 100%;

    &-head {
      margin-bottom: 20px;
      @include flexbox();
      justify-content: space-between;
      align-items: center;

      @media (max-width: $mstablet) {
        flex-direction: column;
      }

      a {
        padding-right: 30px;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 17L11.1094 16.125L14.6094 12.625H7V11.375H14.6094L11.1094 7.875L12 7L17 12L12 17Z' fill='%230D54B5'/%3E%3Crect x='0.5' y='0.5' width='23' height='23' rx='11.5' stroke='%230D54B5'/%3E%3C/svg%3E%0A");
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: auto 24px;
        }
      }
    }
  }


  &Practiceareas {
    padding: 100px 0;
    position: relative;
    display: inline-table;
    width: 100%;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: #031124;
      mix-blend-mode: multiply;
      opacity: 0.9;

      left: 0;
      top: 0;
    }

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      background-image: url('../images/30ac020d509e6b27d3f80582be258f28.png');
      top: 0;
      left: 0;
    }

    &-wrap {
      position: relative;
      z-index: 1;
    }

    &-head {
      h2 {
        @include font-pack($lh: 1.2,  $weight: $font-weight-extrabold, $colour: var(--white));
        padding-left: 26px;
        display: inline-table;
        text-transform: capitalize;
        margin-bottom: 60px;
  
        &::after {
          width: 100px;
          height: 100px;
          background-color: var(--blue);
          content: '';
          position: absolute;
          left: 0;
          top: -35px;
          z-index: -1;
  
          @media (max-width: $mxtablet) {
            left: 0;
            top: -15px;
            width: 70px;
            height: 70px;
          }
  
          @media (max-width: $mstablet) {
            top: -20px;
          }
        }
      }
    }


    &-box {
      --gap : 133px;
      --w: 560px;
      @include flexbox();
      flex-wrap: wrap;
      gap: var(--gap);
      padding: 60px 0;

      @media (max-width: $mxtablet) {
        --gap : 80px;
        --w: 360px;
      }

      @media (max-width: $mntablet) {
        --w: 100%;
        --gap : 40px;

        padding:0 0 60px 0;
      }
    }

    &-content {
      width: calc(100% - var(--w) - var(--gap));
      color: var(--white);

      @media (max-width: $mntablet) {
        width: var(--w);
        order: 2;
      }

      h2 {
        line-height: 1.2;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        text-align: justify;

        @media (max-width: $mntablet) {
          font-size: 14px;
        }
      }
    }

    &-thumb {
      width: 100%;
      max-width: var(--w);
      position: relative;

      .thumb-sq{
        padding-top: 60%;

        &:after {
          width: 100%;
          height: 100%;
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          background-color: var(--primary);
          mix-blend-mode: screen;
        }

        img {
          filter: grayscale(1);
        }
      }
    }
  }

}







/* form design */

.required-mark {
  color: var(--blue);
}

.label {

  &-item {
    &-radio {
      border: 1px solid var(--grey);
      border-radius: 5px;
      padding: 12px 12px 12px 44px;
      cursor: pointer;
      @include flexbox();
      justify-content: center;
      flex-direction: column;
      width: 100%;
      color: var(--grey-dark);
      font-size: 16px;
      position: relative;
      overflow: hidden;

      input {
        margin-top: 10px;
        &[disabled] {
          background: #f1f2f2;
        }
      }

      textarea {
        margin-top: 10px;
        height: 100px;
        &[disabled] {
          background: #f1f2f2;
        }
      }

      @include max-responsive($mntablet) {
        font-size: 14px;
      }
    }


    &-check {
      background: var(--white);
      border: 1px solid var(--grey);
      border-radius: 5px;
      padding: 12px 12px 12px 44px;
      cursor: pointer;
      @include flexbox();
      justify-content: center;
      flex-direction: column;
      width: 100%;
      color: var(--grey-dark);
      font-size: 16px;
      position: relative;
      overflow: hidden;

      @include max-responsive($mntablet) {
        font-size: 14px;
      }
    }
  }
}

form {
  label {
    font-size: 16px;
  }

  .input-group {
    label {
      width: 100%;
      margin-bottom: 10px;
      display: inline-table;
    }
  }

  textarea,
  [type="email"],
  [type="text"]  {
    &:focus {
      border: 1px solid var(--blue);
    }

    @include max-responsive($mntablet) {
      font-size: 14px;
    }
  }

  .label-item-radio {
    position: relative;

    [type="radio"]  {
      position: absolute;
      left: -9999px;
    }

    [type="text"] {
      margin-top: 10px;
    }
    
    &:before {
        content: '';
        position: absolute;
        left: 14px;
        top: 16px;
        bottom: 0;
        width: 16px;
        height: 16px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }

    &:after {
        content: '';
        width: 10px;
        height: 10px;
        background: var(--blue);
        position: absolute;
        left: 17px;
        top: 19px;
        bottom: 0;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;

        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    &.checked {
      background: var(--blue-gradient);
      &:before {
        border: 1px solid #414042;
      }

      &:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }

  }


  .label-item-check {
    position: relative;

    [type="checkbox"]  {
      position: absolute;
      left: 14px;
      top: 16px;
    }

    &.checked {
      background: var(--blue-gradient);
    }

  }
}

.label-item {
  display: none;
}

.is-visible {
  display: block;
}

label.label-heading p {
  font-size: 14px;
  color: white;
}

.col-box {
  gap: 10%;
  flex-wrap: wrap;

  .col-70 {
    padding: 0;
    @include flexbox();
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 20px;

    @include max-responsive($grid_desktop) {
      width: 100%;
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .col-50 {
    padding: 0;
    width: calc(50% - 5%);
    @include flexbox();
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    margin-bottom: 20px;

    @include max-responsive($grid_desktop) {
      width: 100%;
    }
  }

}


.question {

  &Title {
    width: 100%;
  }

}


.nav-btn-div {
  margin-top: 2rem;
  color: #ffffff;
  text-align: right;
}

.nav-button {
  padding: 10px 30px;
  background: #74EFF3;
  border: 1px solid #A7D0D8;
  border-radius: 3px;
  color: var(--navy);
  cursor: pointer;
  display: inline-block;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  font-size: 16px;

  &[disabled] {
    color: #C2C2C2;
    border: 1px solid #C2C2C2;
    background: #f1f2f2;
    cursor: not-allowed;
  }
}

@media (max-width: 1024px) {
  label.label-heading {
    font-size: 35px;
  }
}

@media (max-width: 670px) {

  .fa-arrow-up:before {
    bottom: 16%;
    right: 16%;
  }

  .fa-arrow-down:before {
    position: absolute;
    bottom: 16%;
    right: 7%;
  }

  .select.multiple {
    min-height: 180px;
  }
}



.apps {
  &Box {
    text-align: left;
    margin: auto;
    padding: 15px;

    &-inner {
      @include display-flex();
      flex-direction: column;
      gap: 25px;
      text-align: center;
      max-width: 500px;
      width: 100%;

      @include max-responsive($mxtablet) {
        margin:  0 auto;
      }
    }

    &-title {
      @include font-pack($lh: 1.2 ,$size: 24px, $weight: 700);
      align-items: center;
      justify-content: center;
      @include flexbox();
      gap: 10px;

      .badge {
        background-color: #FF8C00;
        border-radius: 30px;
        margin-left: 10px;
      }
    }

    &Logo{
      width: 100%;
      max-width: 120px;
      margin: 0 auto 20px;
    }

    &-icon {
      width: 52px;
      height: 52px;
      position: relative;
      overflow: hidden;
      background-color: var(--white);
      border-radius: 10px;
      box-shadow: 1px 5px 20px 0px rgba(0,0,0,0.25);
      -webkit-box-shadow: 1px 5px 20px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: 1px 5px 20px 0px rgba(0,0,0,0.25);
      margin-bottom: 10px;

      img {
        position: absolute;
        object-fit: contain;
        object-position: center;
        width: 80%;
        height: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-apps {
      @include display-flex();
      justify-content: center;
      gap: 20px;
    }

    &-content {
      h4 {
        font-size: 20px;

        span {
          color: var(--orange);
          font-weight: 700;
        }
      }
    }

    &-award {
      width: 100%;
      max-width: 300px;
      margin: 30px auto 10px;

      ul {
        @include display-flex();
        list-style: none;
        gap: 20px;
      }
    }

    &-cs {
      width: 100%;

      img {
        max-width: 130px;
        margin: 0 auto;
      }
    }
  }
}

.title-section {
  margin-bottom: 30px;
  h3 {
    display: inline-table;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: var(--orange);
    }
  }
}


.half-right {
  overflow: hidden; 
  position: responsive;
}