.brand {
  &Logo {
    width: 100%;
    height: 70px;
    transition: 0.4s;

    @include max-responsive($mdtablet) {
      height: 54px;
    }

    @include max-responsive($mstablet) {
      height: 34px;
    }


    img {
      height: 100%;
    }

    a {
      &:hover {
        opacity: 1;
      }
    }
  }
}